* {

   letter-spacing: 3px;
}

.background-color-red {
   background-color: #E8180C;
   color: white;
   padding: 5px 20px;
}

.background-color-gray {
   background-color: #f8f8f8;
}

.padding-title {
   padding-top: 10px;
}
.main-height{
   height: 100vh;
}

.font-family{
   font-family: 'Courier New', Courier, monospace;
}
.paralax-height{
   height: 700px;
}
.img-height{
   height: 400px;
}
